<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<script>
  videojs(document.querySelector(".video-js"), {
    height: 300,
  });
</script>
<script>

</script>
