<div class="container py-4 py-xl-5">
  <div class="row gy-4 gy-md-0">
    <div class="col-md-6">
      <div class="p-xl-5 m-xl-5">
        <video
          class="w-100 video-js vjs-theme-sea rounded"
          controls
          preload="auto"
          data-setup="{}"
        >
          <source
            src="https://l.top4top.io/m_27030310v1.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
    <div class="col-md-6 d-md-flex align-items-md-center">
      <div style="max-width: 350px">
        <h2 class="text-uppercase fw-bold">
          API ini dibuat oleh
          <a href="{{ configs.AUTHOR_LINK }}" class="text-decoration-none text-info">{{ configs.AUTHOR_NAME }}</a> & <a href="{{ configs.AUTHOR_LINK2 }}" class="text-decoration-none text-info">{{ configs.AUTHOR_NAME2}}</a>
        </h2>

        <p class="my-3">
          Website API ini dibuat untuk mempermudah dalam mengambil data dari website. Di desain oleh <a href="https://github.com/IhsanDevs">Ihsan Devs</a>, dan Dibuat oleh <a href="https://github.com/Xnuvers007">Xnuvers007</a> (Buat semua, kecuali desain).<br /><br />Contributor: <a href="https://www.facebook.com/arthon.senna1122">Arthon Senna</a>
        </p>
        <a class="btn btn-dark btn-lg me-2" role="button" href="#" id="darkModeBtn">Dark mode</a
        ><a
          class="btn btn-light btn-lg text-dark"
          role="button"
          href="#"
          id="lightModeBtn"
          >Light mode</a
        >
        <a class="btn btn-lg btn-outline-info" href="#" data-bs-target="#modal-changelog" data-bs-toggle="modal">Changelog</a>
        <br />
        <br />
        <a class="btn btn-primary" href="https://0e87ad76-6c4e-40ff-bb5a-6bbdab145ae2-00-39qk1kw7vab6l.worf.replit.dev/donasi">Donasi</a>&nbsp;&nbsp;&nbsp;
        <a href="https://0e87ad76-6c4e-40ff-bb5a-6bbdab145ae2-00-39qk1kw7vab6l.worf.replit.dev/downloadapk" class="btn btn-primary" style="background-color: #28a745;color: #fff;border-color: #28a745;">Download Web for APK</a>
      </div>
    </div>
  </div>
</div>