<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  {% include 'partials/meta.jinja2' %}
  <body>
    {% include 'components/header.jinja2' %}
    <div class="container">
      
      {% include 'components/api_services.jinja2' %}

      {% include 'components/galleries.jinja2' %}
    </div>


  {% include 'components/footer.jinja2' %}

  {% include 'components/changelogs.jinja2' %}

  {% include 'partials/scripts.jinja2' %}
  </body>
</html>